@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Wojciech Wojtowicz<br />
    Wrocław, Wapienna 30<br />
    Telefon - 793-651-778
</address>
