@model HoneyViewModels
@{
    ViewData["Title"] = "GetHoney";
}

<h2>GetHoney</h2>

<!--wyświetlenie informacji o miodze-->
<div>
    <h2>@Model.Name</h2>
    <h4>@Model.Price zł/kg</h4>
    <img src="@Url.Content(Model.Photo)" , alt="@Model.Name" />
</div>
