USE [master]
GO
/****** Object:  Database [SkiJumping]    Script Date: 15.12.2019 05:24:27 ******/
CREATE DATABASE [SkiJumping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SkiJumping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.WOJTEKSQL\MSSQL\DATA\SkiJumping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SkiJumping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.WOJTEKSQL\MSSQL\DATA\SkiJumping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkiJumping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkiJumping]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15.12.2019 05:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 15.12.2019 05:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CountryRecord] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jumpers]    Script Date: 15.12.2019 05:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jumpers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Birtdate] [datetime] NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Jumpers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 15.12.2019 05:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SponsorId] [int] NOT NULL,
	[AllCash] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Salaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsors]    Script Date: 15.12.2019 05:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Cash] [real] NOT NULL,
	[JumperId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sponsors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 15.12.2019 05:24:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](250) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Birtdate] [datetime] NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Trainers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name], [CountryRecord]) VALUES (1, N'Polska', 10)
INSERT [dbo].[Countries] ([Id], [Name], [CountryRecord]) VALUES (2, N'Niemcy', 20)
INSERT [dbo].[Countries] ([Id], [Name], [CountryRecord]) VALUES (3, N'Austria', 30)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Jumpers] ON 

INSERT [dbo].[Jumpers] ([Id], [FirstName], [LastName], [Birtdate], [CountryId]) VALUES (1, N'Kamil', N'Stoch', CAST(N'1991-01-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Jumpers] ([Id], [FirstName], [LastName], [Birtdate], [CountryId]) VALUES (2, N'Piotr', N'Żyła', CAST(N'1980-02-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Jumpers] ([Id], [FirstName], [LastName], [Birtdate], [CountryId]) VALUES (3, N'Severin', N'Freund', CAST(N'1970-03-03T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Jumpers] OFF
SET IDENTITY_INSERT [dbo].[Salaries] ON 

INSERT [dbo].[Salaries] ([Id], [SponsorId], [AllCash]) VALUES (3, 3, 60000)
INSERT [dbo].[Salaries] ([Id], [SponsorId], [AllCash]) VALUES (4, 2, 20000)
INSERT [dbo].[Salaries] ([Id], [SponsorId], [AllCash]) VALUES (5, 3, 60000)
SET IDENTITY_INSERT [dbo].[Salaries] OFF
SET IDENTITY_INSERT [dbo].[Sponsors] ON 

INSERT [dbo].[Sponsors] ([Id], [Name], [Cash], [JumperId]) VALUES (1, N'Enea', 10000, 1)
INSERT [dbo].[Sponsors] ([Id], [Name], [Cash], [JumperId]) VALUES (2, N'Plus', 20000, 2)
INSERT [dbo].[Sponsors] ([Id], [Name], [Cash], [JumperId]) VALUES (3, N'Enea', 50000, 3)
SET IDENTITY_INSERT [dbo].[Sponsors] OFF
SET IDENTITY_INSERT [dbo].[Trainers] ON 

INSERT [dbo].[Trainers] ([Id], [FirstName], [LastName], [Birtdate], [CountryId]) VALUES (1, N'Alexander', N'Stöckl', CAST(N'1944-02-02T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[Trainers] ([Id], [FirstName], [LastName], [Birtdate], [CountryId]) VALUES (2, N'Stefan', N'Horngacher', CAST(N'1967-02-02T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Trainers] ([Id], [FirstName], [LastName], [Birtdate], [CountryId]) VALUES (3, N'Andreas', N'Felder', CAST(N'1965-11-03T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Trainers] OFF
/****** Object:  Index [IX_CountryId]    Script Date: 15.12.2019 05:24:27 ******/
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[Jumpers]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SponsorId]    Script Date: 15.12.2019 05:24:27 ******/
CREATE NONCLUSTERED INDEX [IX_SponsorId] ON [dbo].[Salaries]
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JumperId]    Script Date: 15.12.2019 05:24:27 ******/
CREATE NONCLUSTERED INDEX [IX_JumperId] ON [dbo].[Sponsors]
(
	[JumperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryId]    Script Date: 15.12.2019 05:24:27 ******/
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[Trainers]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jumpers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Jumpers_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jumpers] CHECK CONSTRAINT [FK_dbo.Jumpers_dbo.Countries_CountryId]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Salaries_dbo.Sponsors_SponsorId] FOREIGN KEY([SponsorId])
REFERENCES [dbo].[Sponsors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK_dbo.Salaries_dbo.Sponsors_SponsorId]
GO
ALTER TABLE [dbo].[Sponsors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sponsors_dbo.Jumpers_JumperId] FOREIGN KEY([JumperId])
REFERENCES [dbo].[Jumpers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsors] CHECK CONSTRAINT [FK_dbo.Sponsors_dbo.Jumpers_JumperId]
GO
ALTER TABLE [dbo].[Trainers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Trainers_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Trainers] CHECK CONSTRAINT [FK_dbo.Trainers_dbo.Countries_CountryId]
GO
USE [master]
GO
