@{
    ViewData["Title"] = "HomePage";
}


<!--Stona główna-->

<h2>@Html.ActionLink("Przejdz", "IntrestingLinks", "Home")</h2>
<hr />
<h2>@Html.ActionLink("Pokaż wszystkie samochody", "GetAllCars", "Home")</h2>
<hr />
<h2>@Html.ActionLink("Pokaż listę modeli", "GetListOfModels", "Home")</h2>
<hr />
<h2>@Html.ActionLink("Formularz kontaktowy", "ContactForm", "Home")</h2>
<hr />

