
@{
    ViewData["Title"] = "IntrestingLinks";
}

<h2>IntrestingLinks</h2>

<!--Wyświetlenie listy linków-->
<a href="https:\\google.com">Google</a>
<hr />
<a href="https:\\facebook.com">Facebook</a>
<hr />
<a href="https:\\youtube.com">Youtube</a>
<hr />
<a href="https:\\discord.com">Discord</a>
<hr />
<a href="https:\\coinmarketcap.com">Kryptowaluty</a>
<hr />
